@CHARSET "UTF-8";
	<style type="text/css">
		body,h1,h2,h3,div,p,ul,li,img,table,td,form,input { margin:0; padding:0; }
		img { border:0; }

		li { list-style:none outside; }
		body { align:center; line-height:115%; background:#B6D2DE url() no-repeat fixed 0 0 ; color:#663B12;  font-size:.95em; font-family:sans-serif;  margin:0 auto 0 auto;}
		#container2 { margin:0 auto; width:980px; height:1000px; }
		#header { padding:1px 0 ; }
		#main {
			margin:10 auto 10 auto;
			width:523px;
			padding:20px;
			background-color:#C6E2EE;
			border-right:1px solid #B6D2DE;
			vertical-align:top;
			-webkit-border-radius:6px;
			-moz-border-radius:6px;
			border-radius:6px;}
		#side {  width:190px; padding:10px 0; background-color:#DAECF4; vertical-align:top;  -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px;}
		#footer { background-color:#fff; margin:5px 0 15px; padding:10px; text-align:center; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; }
		#right-content {
					float:right;
					//margin-left:780px;
					//margin-top:10px;
					//width: 190px;
					width:20%;
					min-height:100%;
					background-color:#444444;
					border:1px dotted #888888;
		}
		#left-side{
					float:left;
		            //width:780px;
		            width:80%;
		            //margin:0;
		            //padding-left:10px;
		            //padding-bottom:10px;
		            //padding-top:5px;
		            background-color:#fff;
		            //z-index:900;
		            //border-right: 1px solid #eee;
		}

		#pankuzu { font-size:.8em; padding:4px 8px 8px; width:508px; overflow:hidden; word-wrap:break-word; }
		#info { margin:5px 0; padding:5px 10px; border:2px solid #fc7; background-color:#ffc; }
		#order { font-size:.85em; margin:5px 0; padding:3px 7px; border:solid 1px #dde; background-color:#f0f8ff; }
		#ad-upper { width:509px;margin:0;padding:0; }
		#ad-upper td { text-align:center; }
		#ad-upper a,#ad-bottom a { text-decoration:underline; color:#1F98C7;}
		h2 { font-size:25px; margin:5px 0 10px; }
		h2.bar2 { font-size:1em; border-bottom:1px solid #C6E2EE; background:url(http://img.twi-log.com/image-dir/bar2.gif) no-repeat left 4px; padding:3px 0 3px 20px; }
		h3.bar3 { font-size:.9em; border-left:5px solid #28c6ff; padding:2px 10px; margin-left:8px; }

		h3.bar-main { font-size:1.2em; margin:0px; padding:3px 10px; background-color:#DAECF4; border-top:1px solid #C6E2EE; border-bottom:1px solid #C6E2EE; }
		table.bar-main { width:523px; height:28px;background-color:#DAECF4; border-top:1px solid #C6E2EE; border-bottom:1px solid #C6E2EE; }
		table.bar-main h3 { font-size:1.1em; }
		table.bar-main td { padding:0 10px; }

		h3.bar-side { padding:3px 10px 0; }
		img.s-button { width:30px; height:16px; vertical-align:-3px; }

		div.tl-tweets { margin:0px 0px 6px; width:524px; line-height:115% }
		div.tl-tweet { padding:8px 5px;border-bottom:dashed 1px #ccc; }
		p.tl-text { padding:0 1px; font-size:1em;margin-bottom:3px; width:514px; overflow:hidden; word-wrap:break-word; }
		p.tl-posted {font-size:.8em;color:#aaa; }
		img.tl-image { margin:5px; border:0; }
		img.trush { width:10px;height:10px;margin-right:3px; }
		div.p-link { margin-bottom:20px; padding-right:5px; font-size:0.87em; text-align:right; }
		img.rt-icon { vertical-align:-2px; width:16px;height:14px;margin-right:5px; }
		img.img_com { vertical-align: middle; }
		div.box1 { padding:8px; margin-bottom:10px; }
		div.box1 > p { margin-bottom:1em; line-height:130%; }

		div.user-info {margin:0 auto 0 auto; width:503px; line-height:125%; overflow:hidden; word-wrap:break-word; padding:5px 10px;clear:all;font-size:.85em;background-color:#f5f5f5; border:1px solid #ccc;-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
		div.user-info > p { margin-bottom:2px;  }

		ul.list-main { padding:5px 12px; width:500px; overflow:hidden; }
		ul.list-side { padding:5px 16px; width:175px; overflow:hidden; }
		ul.list-side2 { padding:5px 16px; width:175px; overflow:hidden; }
		ul.list-side2 > li { background:no-repeat left center; padding-left:20px; margin-bottom:5px; }
		p.more-list { padding:0px 16px; }

		span.tl-link { font-size:11px; padding:0 2px; background-color:#3cf;color:#fff; }

		#calender-hd { width:150px;margin:10px auto 1px;text-align:center;font-weight:bold; }
		#calender { width:190px; margin:0 auto 10px; text-align:center; border:1px solid #C6E2EE; background-color:#C6E2EE; }
		#calender td { background-color:#fff; padding:2px;}
		#calender th { background-color:#eee; padding:2px;}
		#calender a { text-decoration:underline; }

		div.msg { padding:15px 25px 50px; }

		table#source { display:none;background-color:white;position:absolute;width:500px;height:300px;border:6px solid #C6E2EE; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; }
		span.tweets-count { font-size:0.7em;color:#44f;background-color:#cff; padding:0 2px; border-bottom:1px solid #44f; }

		a:link { text-decoration:none; color:#1F98C7;}
		a:visited { text-decoration:none; color:#1F98C7;}
		a:hover { text-decoration:underline; color:#1F98C7;}
		h3 a:link { text-decoration:none; color:#663B12;}
		h3 a:visited { text-decoration:none; color:#663B12;}
		h3 a:hover { text-decoration:underline; color:#663B12;}

p.balloon {
	position: relative;
	background: #ffffff;
	border: 2px solid #a1a1a1;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
//	display:inline;
	padding:10px;
//	width: auto;
}
p.balloon:after, .balloon:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

p.balloon:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 10px;
	top: 50%;
	margin-top: -10px;
}
p.balloon:before {
	border-color: rgba(161, 161, 161, 0);
	border-right-color: #a1a1a1;
	border-width: 13px;
	top: 50%;
	margin-top: -13px;
}
	</style>